@font-face {
  font-family: "Jolly Lodger";
  src: url("JollyLodger-Regular.ttf") format("opentype");
}

/* @font-face {
  font-family: MyFont;
  font-weight: bold;
  src: url("/fonts/MyFont.otf") format("opentype");
} */
